# Data Analysis with Python

# Pandas

**pandas** is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

Import Library

In [4]:
import pandas as pd;
import numpy as np;

Check Version

In [3]:
pd.__version__

'1.0.0'

In [5]:
np.__version__

'1.18.1'

## Data Structures: Series Data Frame

The primary two components of pandas are the Series and DataFrame.

A Series is essentially a column, and a DataFrame is a multi-dimensional table made up of a collection of Series.

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object

# Example

Imagine we have a Sicilian Stand Fruit selling fruits

In [6]:
products = ["arance","limoni", "mandarini","mandaranci"]

In [7]:
sells = [[1,0,1,0],[1,0,1,1],[4,0,0,0]]

In [12]:
buyers = ["Gnazia","Maria","Carmela"]

Let's create a DataFrame

In [17]:
purchases = pd.DataFrame(sells, index=buyers, columns=products)

In [14]:
purchases

         arance  limoni  mandarini  mandaranci
Gnazia        1       0          1           0
Maria         1       0          1           1
Carmela       4       0          0           0

In [19]:
purchases.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Gnazia to Carmela
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   arance      3 non-null      int64
 1   limoni      3 non-null      int64
 2   mandarini   3 non-null      int64
 3   mandaranci  3 non-null      int64
dtypes: int64(4)
memory usage: 120.0+ bytes

Selection by Value

In [22]:
purchases.loc["Carmela"]

arance        4
limoni        0
mandarini     0
mandaranci    0
Name: Carmela, dtype: int64

Altre operazioni...